html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

#ephemeralClock{
  position: fixed;
  z-index:-1;
  top: 0;
}

#slogan {
  font-family: 'Courgette';
  font-size: 4.5vw;
  text-align: center;
  width: 65%;
}

.navbar {
  width: 100%;
  padding: 10px;
  border: 5px;
  overflow: auto;
  display: block;
  background-color: lightgreen;
}

.navbar a {
    width:10%;
    padding: 8px;
    font-size: 3.5vw;
    color: white;
    font-style: italic;
    font-family: 'Courgette';
  }

.navbar a:hover {
    background-color: green;
}

div.row, div.side, div.main{
    opacity: 0.8;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 40%; /* IE10 */
  flex: 40%;
  background-color: grey;
  padding: 30px;
}

/* Main column */
.main {
  -ms-flex: 60%; /* IE10 */
  flex: 60%;
  background-color: lightgreen;
  padding: 30px;
}


.footer {
  padding: 20px;
  text-align: center;
  background: darkgrey;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
 .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar {
    float: none;
  }
}
