

/* https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01  */



#ephemeralClock{
  position: fixed;
  align-self: center;
  z-index:-1;
  top: 0;
}

#slogan {
  font-family: 'Courgette';
  font-size: 4.5vw;
  text-align: center;
  width: 65%;
}

.navbar {
  width: 100%;
  padding: 10px;
  border: 5px;
  overflow: auto;
  display: block;
  background-color: lightgreen;
}

.navbar a {
    width:10%;
    padding: 8px;
    font-size: 3.5vw;
    color: white;
    font-style: italic;
  }

.navbar a:hover {
    margin: 0 0 20px 0;
    color: black;
    font-weight: lighter;
    text-shadow:
  -1px -1px 0 #003,
  1px -1px 0 #200,
  -1px 1px 0 #003,
  1px 1px 0 #200;
}

/*Removes all underLines on hyperlinks   */
A {
  text-decoration: none;
}

#mainBox {
  display: flex;
  width: 100%;
  margin: 0 0;
}

.rightColumn, .leftColumn {
  font-family: 'Amiri', serif;
  background: rgba(255,255,255, 0.9);
  font-size: 22px;
  align-items: center;
  min-width: 50px;
  padding: 10px;
  width: 45%;
  margin: 0 25px;
  border-radius: 5vw;
}


.img {
  width: 100%;
}

.footer {
  margin-top: 5vw;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

h2{
  margin: 0 0 20px 0;
  color: black;
  font-weight: lighter;
  text-shadow:
-1px -1px 0 #003,
1px -1px 0 #200,
-1px 1px 0 #000,
1px 1px 0 #200;
}


/* Responsive layout - when the screen is less than 500px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  #mainBox {
    display: flex;
    flex-wrap: wrap;
  }
  .rightColumn, .leftColumn {
    width: 100%;
    background: rgba(110, 130, 80, 0.1)
  }

  .navbar {
    float: none;
  }
}
