
* {
  box-sizing:border-box;
}
body {
  background-color: #E9FFE1;
}


#theGoodButton, #theBadButton, #rickRoll {
	background-color: #9BEE60;
	padding: 10px 10px;
	border-radius: 34vw;
	width: 95%;
	font-style: italic;
	font-family: 'Courgette';
	font-size: 90%;
}

#ephemeralClock {
  position: sticky;
  bottom: 20vw;
  right: 15vw;
}

#slogan {

  font-family: 'Courgette';
  font-size: 4.5vw;
  text-align: center;
  width: 65%;
  position: fixed;
  bottom: 6vw;
  right: 16vw;
}

p {

	font-family: 'Crimson Text', serif;
	font-size: 120%;
}

#theGoodButton:hover, #theBadButton:hover, #rickRoll:hover {
	background-color: #6DB93A;
	box-shadow: 7px 8px  rgba(0,0,0,0.15),
	0 10px 14px 0 rgba(0,0,0,0.19);

}


.sideNav {
  float:right;
  width:15%;
  display:block;
  padding:10px;
  text-align:right;
  position: fixed;
  bottom: 37%;
  right: 3%;
}

/* Main column */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}




 @media only screen and (max-width:620px  ) {

   .sideNav, #slogan {
      width:100%;
    }

   #ephemeralClock,.row {
   flex-direction: column;
 }


  /* For mobile phones: */
   #theGoodButton, #theBadButton, #rickRoll{
  	display: block;
  	width: 105%;
  	border-radius: 0vw;
  	border: none;

  }

  #theGoodButton {
  	text-align: left;
  	text-indent: 3.5vw;
  }
  #theBadButton{
  	text-align: middle;
  }
  #rickRoll {
  	text-align: right;
  }

}
